* {
    border-radius: 5px;
}
#msgDisplay {
    border: 1px solid black;
    table-layout: fixed;
    overflow: hidden;
}
td.unDis {
    border-radius: 0px;
    border-right: 1px solid black;
    height: 1em;
    width: 10em;
}
td.mgDis {
    height: 1em;
    width: 35em;
}
#sendBox {
    width: 50em;
}
#sendButton {
    width: 4em;
}
#loginBox {
    border: 1px solid black;
    border-left: 10px solid red;
    background-color: white;
    padding: 25px;
    position: fixed;
    top: 40%;
    left: 40%;
}